/testCaseOneLogin.class
/testCase2_findElements.class
/test3RadioButtons.class
/starterBase.class
/testCase4CheckBox.class
/testCase5Dropdown.class
/testCase6SelectingLinksTables.class
/testCase6SelectingLinks.class
/testCase7Tables.class
